*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('espaco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div > img{
    max-width: 100%;
}